In [1]:
%load_ext sql
import psycopg2
import pandas as pd
from config import pass_key
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

The sql module is not an IPython extension.

ImportError: cannot import name 'pass_key' from 'config' (/Users/mohamedismael/opt/miniconda3/lib/python3.9/site-packages/config/__init__.py)

In [ ]:
conn_string = "host="+ 'localhost' +" port="+ "5432" +" dbname="+"employee-data" +" user=" + "postgres" \
                  +" password="+ pass_key
    
conn = psycopg2.connect(conn_string)

In [ ]:
sal_count_df = pd.read_sql('SELECT * FROM salaries', conn)
sal_count_df.head()

In [ ]:
plt.figure(figsize=(10, 5))
plt.hist(sal_count_df['salary'], color='cornflowerblue')
plt.title('Most Common Salary Ranges for Employees')
plt.xlabel('Salaries')
plt.ylabel('Count')
plt.grid(color="red")
plt.savefig('Most Common Salary Ranges for Employees')
plt.show()

mean_sal = sal_count_df['salary'].mean()
max_sal = sal_count_df['salary'].max()
min_sal = sal_count_df['salary'].min()

print(f'- The mean salary is ${round(mean_sal)}')
print(f'- The maximum salary is ${round(max_sal)}')
print(f'- The minimum salary is ${round(min_sal)}')

In [ ]:
avg_sal_df = pd.read_sql('SELECT * FROM avg_salary', conn)
avg_sal_df

In [2]:
titles = avg_sal_df['title'].tolist()
salary = avg_sal_df['average_salary'].tolist()

NameError: name 'avg_sal_df' is not defined

In [3]:
plt.figure(figsize=(15, 5))
plt.bar(titles, salary, color='cornflowerblue', width=.5)

plt.grid(color="red")

plt.title("Average Salary by Job Title")
plt.xlabel("Job Title")
plt.ylabel("Average Salary")
plt.savefig('Average Salary by Job Title')
plt.show()

NameError: name 'plt' is not defined